.container {
  position: relative;
  width: 32vh;
}

.motionState {
  font-family: 'michroma', sans-serif;
  font-style: italic;
  font-size: 2.4vh;
  white-space: nowrap;
}

.motionStateJa {
  font-family: 'michroma', sans-serif;
  font-size: 1.8vh;
  text-align: center;
  white-space: nowrap;
}

.remainingTime{
  font-family: 'michroma', sans-serif;
  font-size: 4vh;
  text-align: center;
}

.turnInfo {
  position: absolute;
  font-family: 'michroma', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8vh;
  line-height: 2.4vh;
  right: 16px;
  bottom: 8px;
}

.currentTurn {
  font-size: 2.4vh;
  font-weight: bold;
  color: #13a9b7ff;
}